* {
  box-sizing: border-box;
}
header {
  background-color: #2C9BB4;
  padding: 40px;
  padding-left: 120px;
  color: white;
}

header h1 {
  font-size: 40px;
  text-transform: uppercase;
}

header h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  width: 280px;
}

.nav-bar {
  background-color: #E5E6E6;
  padding: 20px;
  padding-left: 100px;
  color: #868586;
  font-weight: bold;

}

.nav-bar a {
  color: rgb(72, 79, 88);
}

body {
  font-family: Helvetica, sans-serif;
  color:#3D3D3C;
}

section{
  width: 50%;
}
article {
  line-height: 2;
  margin-left: 100px;
}

.first h3 {
color: #2C9AB7;
}

.testimonial p {
  color: #62BBD1;
  font-size: 20px;

}

aside {
  float: right;
  color: #3D3D3C;
  width: 400px;

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #2C9BB4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3D3D3C;
}

.form {
  border-radius: 5px;
  padding: 20px;
}


aside p {
  width: 300px;
  line-height: 1.2;
}

aside a {
  color: #62BBD1;
}


a {
  text-decoration: none;
}

footer {
  background-color: #3D3D3C;
  padding: 40px;
  color: white;
  text-align: center;
  margin-top: 200px;
  width:  100%;

}

footer img{
  width: 15%;
}

footer a {
  color: white;
  font-weight: bold;
  line-height: 5;

}
